
<div class="card my-4 p-3  bg-body rounded shadow-sm">
  <div class="card-header bg-body d-flex align-items-center justify-content-beetwen row">
    <div class="card-info col-2">
      <h1 class="h3 d-inline align-middle"><%= Import.model_name.human(count: 2)%></h1>
    </div>
    <div class="card-info col">
      <%= search_form_for @search, {class: 'form-inline pl-0 pr-0 z-0'} do |f| %>
        <div class="input-group">
          <%= f.text_field :title_cont , placeholder: 'название', class: "form-control"%>
          <%= button_tag(type: 'submit', :class => "btn btn-outline-primary") do %><%= search_icon %><% end %>
          <%= link_to arrow_clockwise_icon, imports_path, class: 'btn btn-outline-dark d-flex justify-content-center align-items-center' %>
        </div>
      <% end %>
    </div>
    <div class="col-4 card-actions d-grid gap-2 d-flex align-items-center justify-content-end">
      <%= link_to add_icon, new_import_path, class: "btn btn-primary float-end mt-n1", data: {turbo_frame: dom_id(Import.new) } %>

    </div>
  </div>

  <div class="card-body">
    <div id="datatables-imports_wrapper">

        <div class="col-12 list-group list-group-striped" data-controller="selectall">
          <div class="row py-2 px-0 justify-content-between align-items-center text-start">
            <%= div_check_box_tag_all %>
            <%= tag.div( t( 'helpers.label.import.status'), class: 'col-2 fw-semibold' )%>
            <%= tag.div( t( 'helpers.label.import.title'), class: 'col-3 fw-semibold' )%>
            <%= tag.div( t( 'helpers.label.import.file'), class: 'col-4 fw-semibold' )%>
            <%= tag.div('', class: 'col fw-semibold')%>
          </div>
          <%= turbo_stream_from "imports" %>
          <%= turbo_frame_tag Import.new %>
          <%= turbo_frame_tag 'imports', data: { } do %>
              <%= render @imports %>
          <% end %>
        </div>

      <%= will_paginate @imports, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end my-4) %>

    </div>
  </div>
  <div class="card-footer bg-transparent">
    <div class="h5 my-4">Статусы состояния импорта</div>
    <div class="row">
      <div class="col-6 p-0">
        <ul class="list-group">
          <li class="list-group-item fw-bold">Статус</li>
          <li class="list-group-item">new</li>
          <li class="list-group-item">start_job</li>
          <li class="list-group-item">create_tmp_folder</li>
          <li class="list-group-item">extract_zip</li>
          <li class="list-group-item">process</li>
          <li class="list-group-item">remove_tmp_folder</li>
          <li class="list-group-item">finish</li>
          <li class="list-group-item">error</li>
        </ul>
      </div>
      <div class="col-6 p-0">
        <ul class="list-group">
          <li class="list-group-item fw-bold">Действе</li>
          <li class="list-group-item">новый</li>
          <li class="list-group-item">запускаем задачу</li>
          <li class="list-group-item">создаём временную папку</li>
          <li class="list-group-item">распаковываем архив</li>
          <li class="list-group-item">сопоставляем фото по трихкоду</li>
          <li class="list-group-item">удаляем временные файлы</li>
          <li class="list-group-item">завершили</li>
          <li class="list-group-item">ошибка</li>
        </ul>
      </div>
    </div>
  </div>
</div>
