<%= turbo_frame_tag dom_id(product, dom_id(variant)), class: "card mb-1", data: { }  do %>
  <div class="row justify-content-between align-items-center px-2 py-2">
    <%= tag.div(variant.id, class: "col-1 text-center")%>
    <%= tag.div(variant.status, class: "col-1")%>
    <%= tag.div(variant.uid, class: "col-2")%>
    <%= tag.div(class: "col-2") do %>
      <%= "Sku: #{variant.sku}" %>
      <%= "Barcode: #{variant.barcode}" %>
    <% end %>
    <%= tag.div(variant.quantity, class: "col-1")%>
    <%= tag.div(variant.price, class: "col-2")%>
    <%= tag.div class: "col-1 text-center" do %>
      <%= "#{variant.images.size} шт" %> 
      <%=tag.span('not sync', class: "btn btn-sm disabled bg-danger text-dark bg-opacity-25 border-0") if variant.have_not_sync_images%>
    <% end %>
    <div class= "col d-flex justify-content-end gap-2 align-items-center" id="<%= dom_id(product, dom_id(variant, :buttons))%>" >     
      <% if variant.status == "Process" %>
        <%= render 'shared/running'%>
      <% else %>
        <%= link_to '<i class="bi bi-file-arrow-down"></i>'.html_safe, load_variants_images_product_path(product, variant_ids: [variant.id] ), 
                    title: "Импортировать картинки", data: { "turbo-method": :get, 'turbo-confirm': 'Импортировать картинки?', turbo_stream: true }, 
                    class:"btn btn-sm btn-outline-secondary" %>
        <%= link_to arrow_right_icon, run_product_variants_path(product, variant_ids: [variant.id] ), 
                    title: "Экспортировать картинки", data: { "turbo-method": :post, 'turbo-confirm': 'Экспортировать картинки в магазин?' }, 
                    class:"btn btn-sm btn-outline-secondary" %>

        <%= link_to edit_icon, [:edit, product, variant], class: '' %>
        <%= link_to trash_icon, [product,variant], data: { "turbo-method": :delete, 'turbo-confirm': 'Are you sure?' }, class:"" %>
      <% end %>
    </div>
  </div>
<% end %>