<%= turbo_frame_tag insale do %>
    <%= form_with(model: insale) do |f| %>

      <%= render "shared/errors", object: insale %>
      <div class="row">
        <div class="card">
            <div class="card-body">
              <div class="row justify-content-start align-items-center">

                <div class="col-3 px-1">
                  <%= f.text_field :api_key, class: "form-control", placeholder: "api_key" %>
                </div>

                <div class="col-3 px-1">
                  <%= f.text_field :api_password, class: "form-control", placeholder: "api_password" %>
                </div>
                <div class="col-3 px-1">
                  <%= f.text_field :api_link, class: "form-control", placeholder: "api_link" %>
                </div>

                <div class="col d-flex justify-content-end gap-2 align-items-center">
                  <%= f.submit t('save'), class: "btn btn-primary" %>
                  <%= link_to close_icon, :back, class: "btn btn-outline-primary" %>
                </div>

              </div>            
            </div>
        </div>
      </div>
    <% end %>
<% end %>