<!DOCTYPE html>
<html>
  <head>
    <title>Shapki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="<% if !user_signed_in? %>d-flex align-items-center justify-content-center py-4 bg-body-tertiary<%end%>">
    <% if user_signed_in? %>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap px-0 py-2 shadow">
      <%= render 'layouts/navbar' %>
      <div id="our_flash" class="position-absolute z-1 start-50 translate-middle-x w-50" style="top: 60px;">
        <%= render "shared/flash"%>
      </div>
    </header>

    <div class="container-fluid" style="margin-top: 40px;">
      <div class="row">
        <%= render "shared/modal"%>
        <%= render 'layouts/sidebar' %>
        <main class="col-10 px-md-4 ms-sm-auto">
          <%= yield %>
        </main>
      </div>
    </div>
    <%else%>
      <%= yield %>
    <%end%>
  </body>
</html>
